$def with(page) 

<div id="nav" style="padding-left:30px; padding-top:10px; padding-bottom: 30px; border-bottom:1px solid black" class="top-bordered">
	<span class="nav-item 
		$if page == 'master':
			active-nav
		$else:
			inactive-nav
		">
		<a href="master">Master controls</a>
	</span>
	<span class="nav-item 	
		$if page == 'scheduling':
			active-nav
		$else:
			inactive-nav
		">
		<a href="scheduling">Scheduling</a>
	</span>
	<span class="nav-item 
		$if page == 'playlists':
			active-nav
		$else:
			inactive-nav
		">
		<a href="playlists">Playlists</a>
	</span>
	<span class="nav-item 
		$if page == 'clips':
			active-nav
		$else:
			inactive-nav
		">
		<a href="clips">Clips(admin)</a>
	</span>
	<span class="nav-item 
		$if page == 'help':
			active-nav
		$else:
			inactive-nav
		">
		<a href="help">Help</a>
	</span>
</div>