$def with(header, nav, playlists, cues)
$:header
$:nav

<div id="playlists-page" class="sub-page">
	<script type="text/javascript">
		loadClips();
	</script>
	<div id="playlists" class="label">
		<span class="page-label"><h2 class="page-label"><b>Current Playlists</b></h2></span>
	</div>
	<!--
	<div id="view-edit-tabs" style="margin-left:50px;">
		<span onclick="swapPlaylistTab('view')" id="view-tab" class="tab active-tab">
			<b>View</b>
		</span>
		<span onclick="swapPlaylistTab('edit')" id="edit-tab" class="tab inactive-tab">
			<b>Edit</b>
		</span>
		<span style="margin-top:-1px; display: block; float: left; margin-left: 201px; width:342px; border-bottom: 1px solid black;">
		</span>
	</div>
	-->
	<div id="playlist-view" style="display:''; margin-left:50px;">
		<div id="edit-button" class="bottom-bordered" style="padding-bottom:48px;">
			<img style="float:right;" src="static/img/new_playlist.png" onclick="newPlaylist()">
		</div>
		$ playlist_keys = playlists.keys()
		$for i in playlist_keys:
			$ div_id = i.replace(' ','-')
			<div id="$div_id" class="bottom-bordered" style="padding-bottom:18px;">
				<img  style="padding-top:20px;" onclick="openPlaylist('$div_id')" src="static/img/plus.png"></img>
				<b>$i</b>
				<img style="padding-left:10px; padding-top:15px; float:right;" onclick="editPlaylist('$i')" src="static/img/edit.png"></img>
				<img style="padding-top:15px; float:right;" onclick="makeDefault('$i')" src="static/img/make_default_blue.png"></img>
				$ content_div_id = div_id + '-content'
				<div id="$content_div_id" style="display:none;">
					$ cues = playlists[i]
					$for j in cues:
						<span class="playlist-open-item">
						$j
						</span> <br>
				</div>
			</div>
	</div>
	<div id="edit-view" style="display:none; margin-left:50px;">
		<div id="playlist-edit-buttons" style="width:100%; padding-bottom:25px; margin-top:-67px; border-bottom: 1px solid #b9b8bb;">	
			<span id="playlist-name-input" style="position: relative; top:44px; visibility:visible">
				Enter Playlist Name<br>
				<input type="text" id="new-playlist-name" class="new-clip-input">
			</span>
			<br/>
			<span id="playlist-name-readout" style="visibility:visible">
				Playlist Name
			</span>
			<span id="playlist-namer">
				<span onclick="cancelEdit()" id="playlist-name-cancel"><img src="static/img/cancel.png" style="float:right;"></img></span>
				<span onclick="savePlaylist()" id="playlist-name-save"><img src="static/img/save.png" style="float:right; padding-right:10px;"></img></span>
				<span onclick="activateRenamePlaylist()" id="playlist-name-rename" style="visibility:visible; float:right; padding-right:10px;"><img src="static/img/rename.png"></img></span>
			</span>
		</div>
		<div style="width:100%;">
			<div id="edit-left" class="edit-column" style="margin-top:10px;">
				<div id="cue-selector">
					<span style="position:relative; top:-13px; padding-right: 15px;">
						<select id="cue-dropdown" style="width:150px;">
							<option value="__IGNORE__">Select Clip</option>
							$for j in cues:
								<option value="$j">$j</option>
						</select>
					</span>
					<span onclick="addCue()" id="cue-add" style="display:'';"><img src="static/img/add.png"></img></span>
					<span onclick="insertCue()" id="cue-insert" style="display:none;"><img src="static/img/insert.png"></img></span>
				</div>
			</div>
			<div id="edit-right" class="edit-column" style="float:right;">
				<div id="playlist-creator">
				</div>
			</div>
		</div>
	</div>
</body>
</div>
</div>