$def with(header, nav)
$:header
$:nav

<div id="scheduling page" class="sub-page">
	<div id="scheduling" class="top-bordered" style="width:100%;">
		<span class="page-label">Scheduling</span>
	</div>
	<div id="scheduling-content">
		<div id="scheduling-calendar" class="scheduling-column">
			<script type="text/javascript">
				initDatepicker();
			</script>
			<p>Date: <input type="text" id="datepicker" /></p>
			<!--<div id="datepicker"></div>-->
		</div>
		<div id="scheduling-playlists" class="scheduling-column">
			Time
			<br>
			<div id="timeline-holder">
			$for i in range(0,24):
				<div class="sch-div-main $i">
					$code:
						div_id = "%d-00" % (i)
						plist = div_id + "-plist"
					<div onclick="openPlaylistList('$div_id')" class="sch-div-sub 00" style="top:-1px">
						<!--
						<div id="$plist">
						</div>
						<div id="$div_id" class="playlist-list" style="display:none">
						</div>
						-->
						<select name="country" class="default" tabindex="2">
             				<option value="">none</option>
              				<option value="AU">Australia</option>
            				<option value="CA">Canada</option>
            				<option value="DE">Germany</option>
            				<option value="JP">Japan</option>
            				<option value="GB">United Kingdom</option>
            				<option value="US">United States</option>
            			</select>
					</div>
					$code:
						div_id = "%d-15" % (i)
						plist = div_id + "-plist"
					<div onclick="openPlaylistList('$div_id')" class="sch-div-sub 15" style="top:20px">
						<!--
						<div id="$plist">
						</div>
						<div id="$div_id" class="playlist-list" style="display:none">
						</div>
						-->
						<select name="country" class="default" tabindex="2">
             				<option value="">none</option>
              				<option value="AU">Australia</option>
            				<option value="CA">Canada</option>
            				<option value="DE">Germany</option>
            				<option value="JP">Japan</option>
            				<option value="GB">United Kingdom</option>
            				<option value="US">United States</option>
            			</select>
					</div>
					$code:
						div_id = "%d-30" % (i)
						plist = div_id + "-plist"
					<div onclick="openPlaylistList('$div_id')" class="sch-div-sub 30" style="top:41px">
						<!--
						<div id="$plist">
						</div>
						<div id="$div_id" class="playlist-list" style="display:none">
						</div>
						-->
						<select name="country" class="default" tabindex="2">
             				<option value="">none</option>
              				<option value="AU">Australia</option>
            				<option value="CA">Canada</option>
            				<option value="DE">Germany</option>
            				<option value="JP">Japan</option>
            				<option value="GB">United Kingdom</option>
            				<option value="US">United States</option>
            			</select>
					</div>
					$code:
						div_id = "%d-45" % (i)
						plist = div_id + "-plist"
					<div onclick="openPlaylistList('$div_id')" class="sch-div-sub 45" style="top:62px">
						<!--
						<div id="$plist">
						</div>
						<div id="$div_id" class="playlist-list" style="display:none">
						</div>
						-->
						<select name="country" class="default" tabindex="2">
             				<option value="">none</option>
              				<option value="AU">Australia</option>
            				<option value="CA">Canada</option>
            				<option value="DE">Germany</option>
            				<option value="JP">Japan</option>
            				<option value="GB">United Kingdom</option>
            				<option value="US">United States</option>
            			</select>
					</div>
					<div class="sch-div-hour" style="top:0px">
					<h1>$i</h1>
					</div>
					<div class="sch-div-min" style="top:-1px">
						:00
					</div>
					<div class="sch-div-min" style="top:20px">
						:15
					</div>
					<div class="sch-div-min" style="top:41px">
						:30
					</div>
					<div class="sch-div-min" style="top:62px">
						:45
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>